body{
  background-image:url('http://www.cdpoint.com.br/imagens_main/065/443/600/0654436006725.jpg')
}

h1  {
  text-align: right;
  padding-right 50px;
  color: lightblue;
  font-family: 'Roboto Condensed', sans-serif;
}

header img {
  padding-left 50px;
}

a  {
  text-decoration: none
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  color: lightblue;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

h2 {
  color: lightblue;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8em;
  font-style: italic;
}
